<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendTextDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SendTextDemo.Properties.Settings>
            <setting name="GmailServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value>Bhoelle216@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>Shadow7076</value>
            </setting>
            <setting name="serverVZ" serializeAs="String">
                <value>@vtext.com</value>
            </setting>
            <setting name="serverATT" serializeAs="String">
                <value>@txt.att.net</value>
            </setting>
            <setting name="serverTMobile" serializeAs="String">
                <value>@tmomail.net</value>
            </setting>
            <setting name="serverSprint" serializeAs="String">
                <value>@messaging.sprintpcs.com</value>
            </setting>
        </SendTextDemo.Properties.Settings>
    </applicationSettings>
</configuration>