<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowServiceDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WindowServiceDemo.Properties.Settings>
            <setting name="fromEmail" serializeAs="String">
                <value>Bhoelle216@gmail.com</value>
            </setting>
            <setting name="toEmail" serializeAs="String">
                <value>Bhoelle216@gmail.com</value>
            </setting>
            <setting name="LogLocation" serializeAs="String">
                <value>@"G:\C#\WindowsServiceEmailDemo\WindowServiceDemo\\NotifyServiceLog.txt"</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Shadow7076</value>
            </setting>
            <setting name="PhoneNumber" serializeAs="String">
                <value>3524549993</value>
            </setting>
            <setting name="serverVZ" serializeAs="String">
                <value>@vtext.com</value>
            </setting>
            <setting name="MonitorDirectory" serializeAs="String">
                <value>@"C:\Users\Cyberadmin\Desktop\TestingArea"</value>
            </setting>
        </WindowServiceDemo.Properties.Settings>
    </applicationSettings>
</configuration>